@CHARSET "ISO-8859-1";
#sf_admin_container ul.sf_admin_td_actions li a.manage_tree
{
	background:url("../images/tree_view.gif") no-repeat scroll 0 0 transparent;
}

#sf_admin_container .waiting
{
  margin: 4px 0;
  padding: 4px 4px 4px 30px;
  background: url(../images/waiting.gif) no-repeat 10px 4px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffc;
}

.form_select_category
{
	font-weight:bold;
	font-style:italic;
}

#sf_admin_container #sf_admin_header
{
    font-size:110%;
    margin-bottom:15px;
    margin-top:20px;
}

#sf_admin_container #sf_admin_content .sf_admin_action_moveup a
{
    background:url("../../csDoctrineActAsSortablePlugin/images/sortable/icons/promote.png") no-repeat scroll 0 0 transparent;
}

#sf_admin_container #sf_admin_content .sf_admin_action_movedown a
{
    background:url("../../csDoctrineActAsSortablePlugin/images/sortable/icons/demote.png") no-repeat scroll 0 0 transparent;
}